@page
@model ResumeWebApp.Pages.Admin.DetailServicesModel

@{
    ViewData["Title"] = "DetailServices";
}


<div class="row justify-content-center">
    <div class="col-md-8 justify-content-center">
        <h2>DetailServices</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.Desc)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.Desc)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Services.Icon)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Services.Icon)
            </dd>
        </dl>

        <a asp-page="./UpdateServices" asp-route-id="@Model.Services.Id" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
            </a>
        </a> |
        <a asp-page="./ShowServices" class="btn btn-outline-secondary">Back to List</a>
    </div>
</div>
