@page
@model ResumeWebApp.Pages.Admin.IndexModel
@{
}

<div class="row justify-content-center">

    <h2>Welcome To Admin Panel</h2>

    <div class="col-md-10 justify-content-center">

        <h4 class="mt-3">
            Messages
        </h4>
        <div class="card">
        <table class="table table-hover">
            <thead class="text-white" style="background-color: royalblue;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.contact)
                {
                    <tr style="cursor:pointer;" onclick="window.location.href='@Url.Page("ShowContactUs", new { id = item.Id })'">
                        <td>@item.Name</td>
                        <td>
                            <span class="short-text">
                                @(item.Email.Length > 20 ? item.Email.Substring(0, 20) + "..." : item.Email)
                            </span>
                        </td>
                        <td>@item.Subject</td>
                        <td>
                            <span class="short-text">
                                @(item.Message.Length > 30 ? item.Message.Substring(0, 30) + "..." : item.Message)
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

</div>