@page
@model ResumeWebApp.Pages.Admin.ShowExperianceModel
@{
}
<div class="row justify-content-center">

    <div class="col-md-10 justify-content-center">
        <h2>
            Experiance Details
        </h2>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Session</th>
                    <th scope="col">Address</th>
                    <th scope="col">Description</th>
                    <th scope="col" colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.exp)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Designation</td>
                        <td>@item.Session</td>
                        <td>@item.Address</td>
                        <td>@item.Des</td>
                        <td>
                            <a class="btn btn-success" asp-page="UpdateExperiance" asp-route-id="@item.Id">Update</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>